<%- model_class = Vendor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:noteable_id) %>:</strong></dt>
  <dd><%= @vendor.noteable_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:noteable_type) %>:</strong></dt>
  <dd><%= @vendor.noteable_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rateable_id) %>:</strong></dt>
  <dd><%= @vendor.rateable_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rateable_type) %>:</strong></dt>
  <dd><%= @vendor.rateable_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @vendor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @vendor.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address2) %>:</strong></dt>
  <dd><%= @vendor.address2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @vendor.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region) %>:</strong></dt>
  <dd><%= @vendor.region %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @vendor.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @vendor.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @vendor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @vendor.phone %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vendors_path, :class => 'btn'  %>
</div>
