<%= form_for @admin_user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "layouts/error_messages", :target => @admin_user %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latst_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <%= hidden_field_tag "admin_user[permission_ids][]", nil %>
  <% Admin::Permission.all.each do |permission| %>
    <%= check_box_tag "admin_user[permission_ids][]", permission.id, @admin_user.permission_ids.include?(permission.id), id: dom_id(permission) %>
    <%= label_tag dom_id(permission), permission.namespace + " " + permission.controller + " " + permission.action %><br>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>
<% end %>
